<html>
{{ partial "head" . }}

<body>
{{ partial "nav" . }}

{{ if .Params.UseHeader }}
    {{ partial (printf "header/%s" .Params.UseHeader) . }}
{{ else }}
    {{ partial "header/photos_single_header" . }}
{{ end }}
<main class="container block">
    <article>
        {{ .Content }}
    </article>
    <div class="row no-gutters px-2">
        <div class="col">
            <h5 class="text-dark font-weight-bold">{{ i18n "share_it" }}</h5>
            <a href="https://www.linkedin.com/shareArticle?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank"
               class="fab fa-fw fa-lg fa-linkedin text-secondary text-decoration-none"></a>
            <a href="https://twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}" target="_blank"
               class="fab fa-fw fa-lg fa-twitter-square text-secondary text-decoration-none"></a>
            <a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank"
               class="fab fa-fw fa-lg fa-facebook-square text-secondary text-decoration-none"></a>
        </div>
    </div>
    <div class="mt-4 mb-4">
        <div class="row px-2">
            <div class="col-6 col-md-6">
                {{ if .PrevInSection }}
                    <a href="{{ .PrevPage.Permalink }}">
                        <div class="h6 small text-uppercase text-secondary letter-spacing">{{ i18n "prev" }}</div>
                        <h6 class="text-dark font-weight-bold mt-0">{{ .PrevInSection.Title }}</h6>
                    </a>
                {{ end }}
            </div>
            <div class="col-6 col-md-6 text-right">
                {{ if .NextInSection }}
                    <a href="{{ .NextInSection.Permalink }}">
                        <div class="h6 small text-uppercase text-secondary letter-spacing">{{ i18n "next" }}</div>
                        <h6 class="text-dark font-weight-bold mt-0">{{ .NextInSection.Title }}</h6>
                    </a>
                {{ end }}
            </div>
        </div>
    </div>
    <div id="commento"></div>
</main>
{{ partial "footer" . }}
</body>
</html>