<div class="d-flex p-2 content">
    <div class="row">
        <div class="col col-sm-9">
            <h3>Обо мне</h3>
            <p>
                Я дата-инженер и программист, живущий в Берлине.
                Люблю программировать, путешествовать, заниматься спортом.
                <br>
                Интересуюсь новыми технологиями, в последнее время особенно квантовой физикой.
                <br>
                Больше информации доступно в разделах:
                {{ $len_pages := (len .Site.Menus.main ) }}
                {{ range $index, $menu := .Site.Menus.main }}
                {{ if ne (add $index 1) $len_pages }}
                <a href="{{ .URL | absLangURL }}">{{ .Name | lower }}</a>,
                {{ else }}
                <a href="{{ .URL | absLangURL }}">{{ .Name | lower }}</a>.
                {{ end }}
                {{ end }}
            </p>
        </div>
        <div class="col-12 col-sm-3">
            <h3>Контакты</h3>
            {{ if .Site.Menus.icon }}
            {{ range sort .Site.Menus.icon }}
            <a href="{{ .URL }}" class="text-nowrap text-dark" target="_blank">
                <i class="{{ .Identifier }} fa-fw fa-2x valign-middle" data-hint="{{ .Name }}"></i><span
                    class="h6 font-sans" style="font-size: 0.9rem">{{ .Name }}</span>
            </a>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>