<div class="col col-sm-4 px-2 mb-2">
    <a href="{{ .Permalink }}" class="header-font text-secondary text-decoration-none">
        {{ if .Params.ThumbnailPath }}
        <img class="lazyload img-fluid" data-src="{{ .Page.Site.BaseURL}}{{ .Params.ThumbnailPath }}"
             alt="{{ .Title }}"/>
        {{ else }}
        <div class="border border-light text-center h1 pt-4 pb-4">Aa</div>
        {{ end }}
    </a>
</div>
<div class="col col-sm-8 px-2">
    <a href="{{ .Permalink }}" class="text-dark">
        <h3 class="mt-0">{{ .Title }}</h3>
    </a>
    {{ .Content | replaceRE "<p>" "<p class=\"mb-0 text-left\">" | safeHTML | truncate 165}}
    <div class="mt-2 mb-2">
        <a href="{{ .Permalink }}" class="h6 small text-info">{{ i18n "continue_reading" }} »</a>
    </div>
    <div class="text-muted h6 small">
        {{ partial "date" . }}
        {{ partial "tags" . }}
    </div>
</div>