<div class="mt2 pr2 text-right">
    {{ with .Site.GetPage "writing" }}
    <a href="{{ .Permalink }}" class="text-nowrap text-secondary">{{ .Title }}</a>
    {{ end }}
    {{ with .Site.GetPage "photos" }}
    <span class="px-1 text-secondary">|</span>
    <a href="{{ .Permalink }}" class="text-nowrap text-secondary">{{ .Title }}</a>
    {{ end }}
    {{ with .Site.GetPage "tags" }}
    <span class="px-1 text-secondary">|</span>
    <a href="{{ .Permalink }}" class="text-nowrap text-secondary">{{ .Title }}</a>
    {{ end }}
    {{ with .Site.GetPage "writing" }}
    {{ with .OutputFormats.Get "rss" -}}
    <span class="px-1 text-secondary">|</span>
    <a type="application/rss+xml" rel="alternate" target="_blank" href="{{ .Permalink }}"
       class="text-nowrap text-secondary">
        {{ end}} {{ .Title }} RSS</a>
    {{ end }}
    {{ with .Site.GetPage "photos" }}
    {{ with .OutputFormats.Get "rss" -}}
    <span class="px-1 text-secondary">|</span>
    <a type="application/rss+xml" rel="alternate" target="_blank" href="{{ .Permalink }}"
       class="text-nowrap text-secondary">
        {{ end }}{{ .Title }} RSS</a>
    {{ end }}
</div>