<div class="jumbotron header-font border">
    <div class="text-center">
        <a href="{{ .Site.BaseURL }}{{ .Site.Language.Lang }}">
            <img class="lazyload rounded-circle rounded-50 border-white bg-white mx-auto avatar-100"
                 data-src="{{ .Page.Site.BaseURL}}{{ .Site.Params.thumbnailPath }}"/>
        </a>
        <a href="{{ .Site.BaseURL }}{{ .Site.Language.Lang }}">
            <h1 class="text-dark font-weight-bold">
                {{ .Site.Title }}
            </h1>
        </a>
        <h2>
            Developer, data engineer<br>
            Blog, photos and more
        </h2>
    </div>
</div>